.main
  .main__header
    .header-left
      Homework App
    .header-right
      .header-right__name
        oka
      .header-right__log
        ログアウト
  .main__chat
    .chat-top
      .chat-box
        .chat-box__left
          ここは仮置き場で
        .chat-box__right
          .chat-box__right--name
            oka
          .chat-box__right--date
            2020/02/22
    .main__chat-bottm
      